<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
</head>
</head>
<body>
    <div id="app">
        <h1 v-text="sitename"></h1>
        <button v-on:click="showCheckout">
            <span class="fa-solid fa-cart-shopping"></span> Checkout
        </button>
        <div v-if="showProduct">
            <img v-bind:src="product.image" height="300">
            <h2 v-text="product.title"></h2>
            <p v-html="product.description"></p>
            <p>Price: ${{product.price}}</p>
            <p>Availability: {{availability}}</p>
            <input type="button" v-on:click="cart_process" value="Add to cart" v-bind:disabled="!canAddCart">
        </div>
        <div v-else>
            <h1>Checkout</h1>
            <ul>
                <li v-for="products in cart">
                    {{product.title}}
                </li>
            </ul>
            <h2>Order Details</h2>
            <p>pleasee,,,,,,</p>
            <p>
                <input type="checkbox" id="gift" v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift">
                <label for="gift">Gift</label>
            </p>
            
            <p>
                <input type="radio" id="home" value="home" v-model="order.method">
                <label for="home">Home</label>
                <input type="radio" id="business" value="business" v-model="order.method">
                <label for="business">Business</label>
            </p>

            <p>
                <strong>Address:</strong>
                <input v-model="order.address"/>
            </p>
            <p>
                <strong>City:</strong>
                <input v-model="order.city"/>
            </p>
            <p>
                <strong>State:</strong>
                <select v-model="order.state" class="form-control">
                    <option disabled value="">State</option>
                    <option v-for="(state,key) in states"
                    v-bind:value="state">{{state}}</option>
                </select>
            </p>
            <p>
                <strong>Zip/Postal Code:</strong>
                <input v-model.number="order.zip"/>
            </p>

            <p>
                <strong>First Name:</strong>
                <input v-model.trim="order.firstName"/>
            </p>
            <p>
                <strong>Last Name:</strong>
                <input v-model.trim="order.lastName"/>
            </p>
            <p>First Name: {{order.firstName}}</p>
            <p>Last Name: {{order.lastName}}</p>

            <p>Address: {{order.address}}</p>
            <p>City: {{order.city}}</p>
            <p>State: {{order.state}}</p>
            <p>Zip/Postal Code: {{order.zip}}</p>

            <p>Method: {{order.method}}</p>
            <p>Gift it to someone special: {{order.gift}}</p>

            <button v-on:click="submitForm">Submit</button>

        </div>
    </div>

    <script type="text/javascript">
        const webstore=new Vue({
            el:"#app",
            data: 
            {
                sitename: "Vue.js Pet Depot",
                product: 
                {
                    id: 1001,
                    title: "Cat Food, 25lb bag",
                    description: "A 25lb bag of <em>irresistible</em> organic goodness for your cat",
                    price: 2000,
                    image: "images/product.jpg",
                    available: 5,
                },
                cart: [],
                showProduct: true,
                order:{
                    firstName:"",
                    lastName:"",
                    address:"",
                    city:"",
                    state:"",
                    zip:"",
                    method: "home",
                    gift: false,
                    sendGift: "Send as a gift",
                    dontSend: "Do not send as a gift"
                },
                states:
                {
                    AL:"Alaska",
                    AR:"Arizona",
                    CA:"California",
                    NV:"Nevada",
                }
            },
            methods:
            {
                cart_process: function()
                {
                    this.product.available-=1;
                    this.cart.push(this.product.id);
                },
                showCheckout:function()
                {
                    this.showProduct = this.showProduct?false:true;
                },
                submitForm:function()
                {
                    alert('Order submitted!');
                }
            },
            computed:
            {
                availability:function()
                {
                    return this.product.available;
                },
                cartItemCount:function()
                {
                    return this.cart.length;
                },
                canAddCart:function()
                {
                    return this.product.available>0;
                }
            }
        })
    </script>
</body>
</html>